<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="2" parallel="tests">
    <listeners>
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Regression Testcases" verbose="2" preserve-order="true" >
        <classes>
            <class name="websocket.VerifyWebSocketAPIs"></class>
        </classes>
    </test>
</suite>